# General backup/log/swap files
*~
*.DS_Store
*.bak
*.log
*.out
*.so
*.swp

# Composer
composer.lock
vendor/*
!vendor/autoload.php
!vendor/composer/

# PHP_CodeSniffer
phpcs.xml
report-*.txt

# PhpStorm
.idea/
